Part-1/AI_Agent_n8n_Workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Set File ID').item.json.file_name }}"
              }
            ]
          }
        }
      },
      "id": "fe08bca9-9b4f-4133-95b8-dc81096378f6",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        560,
        860
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "8756e145-103d-4403-a030-fc37b47b6dfa",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        400,
        860
      ],
      "credentials": {
        "openAiApi": {
          "id": "WBGg7bc1KCHjvEQh",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add a Google Drive File to Vector DB",
        "height": 671.8877842322804,
        "width": 2070.8894079025763,
        "color": 5
      },
      "id": "c766262d-a7b5-42bf-bc97-d85556b3b86c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        480
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "ff1ce76e-f06d-4f93-a638-6442ec8cef65",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -460,
        660
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NtndqYMs8GW4yAOL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1d0kVGjifWGJ_F3ROp5slazNtmoFEDCzP",
          "mode": "list",
          "cachedResultName": "Project Polaris",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1d0kVGjifWGJ_F3ROp5slazNtmoFEDCzP"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "509416ff-8bd2-4012-a1c0-694afedaca71",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        660
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NtndqYMs8GW4yAOL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "e655fe48-0c54-46e2-8051-2a697d24a68c",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        40,
        800
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 10,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "8019684a-194b-4c62-a434-7a10b4cc70e8",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        760,
        1040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "55ca8adf-06d7-4b3e-bf6e-da281effa0a1",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "d0766371-4ab3-4b9b-ae78-78eda1c12b7c",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3c2d10c9-7256-408e-a20a-a0d1c28ff24a",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        660
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "821a5c55-c99e-447a-a4c9-cd7392172b89"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9087250-0292-4474-bb3e-e4eca357a7e3",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        660
      ],
      "id": "d01bf480-35b1-4416-8bf8-51472911521c",
      "name": "Switch",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        40,
        620
      ],
      "id": "12be5a8a-df45-427f-abb5-9ff5c5c8e65a",
      "name": "Extract from File",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag",
          "mode": "list",
          "cachedResultName": "n8n-rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        400,
        600
      ],
      "id": "6299421b-ba87-471a-810c-e88ab8a6401f",
      "name": "Pinecone Vector Store",
      "notesInFlow": true,
      "credentials": {
        "pineconeApi": {
          "id": "AOI6fTDV7IjbZwKA",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "devfern99@gmail.com",
        "subject": "Document Added",
        "emailType": "text",
        "message": "=The document added to the vector db. {{ $json.metadata.file_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        860,
        500
      ],
      "id": "0333d882-dc85-4d4e-a06f-490431ba0977",
      "name": "Gmail",
      "webhookId": "6fba0729-1e91-4aa1-b4a8-c79e11f35060",
      "credentials": {
        "gmailOAuth2": {
          "id": "u660niauVG7C8S7e",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Invalid data object"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -200,
        960
      ],
      "id": "f31190e7-fbc1-41ce-b1ba-4135753f0975",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "errorMessage": "Invalid data object"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        880,
        720
      ],
      "id": "36912b64-74f2-4370-ad5f-b78e7a07bceb",
      "name": "Stop and Error1"
    }
  ],
  "pinData": {},
  "connections": {
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9991d6f0-adc5-4094-a13d-986692901dc9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8adf391637175b909ac24fa50b94b46d771d7ec6724de95ad2f435beaae3ea90"
  },
  "id": "E8xl9MbSuJxaWY7N",
  "tags": []
}